// Variables globales/ Colores
$green-dark: #1c321f
$green-forest: #2d5a2e
$green-primary: #008001
$green-light: #a3d985
$yellow-dark: #E2B204
$yellow-light: #FFC800
$white: #FFFFFF
$gray: #D9D9D9
$black: #000000
    
.hero
  position: relative
  width: 100%
  height: 100vh
  overflow: hidden
  display: flex
  padding: 2rem
  // video de fondo
  .bg
    position: fixed
    top: 80px
    left: 0
    width: 100%
    height: 100%
    z-index: -1
    video
      width: 100%
      height: 100%
      opacity: 1
      object-fit: cover
      pointer-events: none
      filter: blur(3px) brightness(0.6)

  .hero-content
    position: relative
    width: 100%
    height: 100%
    display: flex
    flex-direction: column 
    justify-content: center // CENTRA verticalmente en el viewport
    align-items: flex-start // mantiene alineado a la IZQUIERDA
    padding-left: 4rem      // distancia desde el borde izquierdo (ajusta a tu gusto)
    padding-right: 2rem

    .hero-container
      display: flex
      flex-direction: column
      align-items: flex-start  // Mantener alineación izquierda
      gap: 1.5rem

      .text-hero
        // align-self: flex-start
        max-width: 600px
        // background: $white
        padding: 2rem
        // border-radius: 0 0 15px 15px 
        .title
          font-weight: bold
          color: $white

        .subtitle
          font-weight: 500
          color: $white
          margin-top: 0.5rem
        p
          margin-top: 0.8rem
          color: $white
      // Botón abajo a la izquierda
      .button-hero
        padding: 2rem
        border-radius: 25px
        display: flex
        align-items: center
        gap: 0.6rem

        a
          display: flex
          align-items: center
          gap: 0.5rem
          text-decoration: none

        .button-PSE
          border: 2px solid $white
          box-shadow: 0 4px 8px rgba(0,0,0,0.3)
        .logo-pse
          border: 2px solid $white
          border-radius: 50%
          height: 40px
          width: auto

// sección ¿Quiénes somos?
.title-section 
  text-align: center
  margin-bottom: 2rem
  h2 
    color: $green-primary

.content-section-1 
  display: grid
  grid-template-columns: 1fr 1fr
  gap: 2rem
  width: 100%
  max-width: 1200px
  align-content: center

.text-section-1 
  margin-bottom: 1rem
  line-height: 1.6
  color: #333

.image-content
  .image-grid
    display: grid
    grid-template-areas: "large small" "large small2"
    grid-template-columns: 1fr 1fr
    gap: 1rem
    position: relative

    .image-box
      border-radius: .5rem
      overflow: hidden
      display: flex
      align-items: center
      justify-content: center

      &.large
        grid-area: large
        height: 300px
        border: 2px solid $green-primary
        iframe
          width: 100%
          height: 100%
          object-fit: cover
      &.small
        border: 2px solid $green-primary
        height: 140px

      img
        width: 100%
        height: 100%
        object-fit: cover
        display: block

    .logo-circle
      width: 100px
      height: 100px
      border-radius: 50%
      overflow: hidden
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      border: 5px solid $white
      background: $white
      display: flex
      align-items: center
      justify-content: center
      z-index: 2
      img
        width: 70px
        height: 70px
        object-fit: contain
        display: block

// Sección galería
.section-galeria
  padding: 2rem
  background-size: cover
  background-position: center
  color: $white

  .container-galeria
    display: grid
    max-width: 1200px
    grid-template-columns: 2fr 1fr // eventos más ancho, juegos más angosto
    gap: 2rem
    align-items: start //Evita que se estire
    margin: 0 auto
    // Titulos
    .title-section
      margin-bottom: 1rem
    // Carrucel de eventos
    .carousel-container
      position: relative
      overflow: hidden
      border-radius: 12px
      box-shadow: 0px 4px 12px rgba(0,0,0,0.4)
      height: 100%
      display: flex
      flex-direction: column //asegura la altura completa junto con sus hermanos

      .carousel-slide
        flex: 1
        display: none
        opacity: 0
        transition: opacity 0.5s ease-in-out
        height: 350px // altura fija para evitar que el carrusel "salte"
        position: relative

        &.active
          display: block
          opacity: 1

      img
        width: 100%
        height: 100%
        object-fit: cover // mantiene proporción sin deformar
        border-radius: 12px

      .carousel-button
        position: absolute
        top: 50%
        transform: translateY(-50%)
        background: rgba(0,0,0,0.5)
        color: $white
        border: none
        padding: 0.6rem
        cursor: pointer
        border-radius: 50%
        z-index: 20
        user-select: none

        &:hover
          background: rgba(0,0,0,0.8)

        &.prev
          left: 10px
        &.next
          right: 10px

      .carousel-indicators
        position: absolute
        bottom: 12px
        left: 50%
        transform: translateX(-50%)
        display: flex
        gap: 8px
        z-index: 25

        .indicator
          width: 12px
          height: 12px
          border-radius: 50%
          border: 2px solid $white
          background: rgba(62, 100, 30, 0.7)
          cursor: pointer
          transition: all 0.3s ease

          &.active
            background: $white  

    .juegos
      display: flex
      flex-direction: column
      gap: 1.2rem
      height: 100% // Asegura que ocupe toda la altura del contenedor padre
      

      .juego-card
        display: flex
        align-items: center
        gap: 1rem
        padding: 1rem
        background: rgba(255,255,255,0.1) // blur
        backdrop-filter: blur(6px)
        border-radius: 12px
        box-shadow: 0 4px 8px rgba(0,0,0,0.3)

        img
          width: 80px
          height: 80px
          object-fit: cover
          border-radius: 10px

        .juego-info
          h3
            margin: 0
          a
            color: $green-light
            text-decoration: none
    
    

// Sección Circulares
.section-circulares
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  padding: 4rem 2rem
  
  // Contenedor tipo libreta abierta
  .circulares-container
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 2rem
    max-width: 1200px
    width: 100%
    background: $green-forest
    border-radius: 10px
    border: 1px solid $gray
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.205)
    position: relative
    padding: 2rem

    // Simular el espiral de libreta
    &::before
      content: ""
      position: absolute
      top: 0
      bottom: 0
      left: 50%
      width: 20px
      border-radius: 10px
      background: repeating-linear-gradient(
        to bottom,
        #ffffff,
        #ffffff 4px,
        transparent 4px,
        transparent 12px
      )
      border-radius: 10px
      transform: translateX(-50%)

    .circular-left
      display: flex
      align-items: center
      justify-content: center
      background-image: url('https://img.freepik.com/foto-gratis/superficie-tablas-blancas_23-2147625787.jpg?w=360')
      align-content: center
      background-size: cover
      background-position: center
      background-repeat: no-repeat
      border-radius: 10px
      padding: 1rem
      margin: 0 1rem
      img
        width: 100%
        height: auto
        border-radius: 8px
        box-shadow: 0 4px 8px rgba(0,0,0,0.1)

    .circular-right
      display: flex
      flex-direction: column
      align-items: flex-start
      justify-content: flex-start
      background-image: url('https://img.freepik.com/foto-gratis/superficie-tablas-blancas_23-2147625787.jpg?w=360')
      align-content: center
      background-size: cover
      background-position: center
      background-repeat: no-repeat
      border-radius: 10px
      gap: 1rem
      padding: 1rem
      margin: 0 1rem
      text-align: left

      h3
        color: $green-primary
        margin-bottom: .5rem

      img
        width: 100%
        max-height: 200px
        object-fit: cover
        border-radius: 6px
        margin-bottom: 1rem

      p
        color: $black
        line-height: 1.6


// Animación para transición suave
@keyframes fade
  from
    opacity: 0.4
  to
    opacity: 1
          
@media (max-width: 768px)
  .hero
    padding: 1.5rem
    .hero-content
      padding-left: 1.5rem
      padding-right: 1.5rem
      align-items: center     // centrar horizontalmente en móviles
      justify-content: center
      text-align: left
      .hero-container
        .text-hero
          max-width: 100%

  .content-section-1
    grid-template-columns: 1fr
    text-align: center
    
    // Asegura que el texto quede arriba
    .text-section-1
      order: -1

    // Imágenes abajo
    .img-section-1
      order: 2
      margin-top: 1.5rem

  // Responsive Circulares
  .section-circulares .circulares-container
    grid-template-columns: 1fr
    &::before
      display: none   