// Variables globales/ Colores
$green-dark: #1c321f
$green-forest: #2d5a2e
$green-primary: #008001
$green-light: #a3d985
$yellow-dark: #E2B204
$yellow-light: #FFC800
$white: #FFFFFF
$gray: #D9D9D9
$gray-darck: #444444
$black: #000000
    
// Animación en los bordes
@property --gradient-angle
  syntax: "<angle>"
  initial-value: 0turn
  inherits: false
.hero
  position: relative
  width: 100%
  height: 100vh
  overflow: hidden
  display: flex
  padding: 2rem
  // video de fondo
  .bg
    position: fixed
    top: 80px
    left: 0
    width: 100%
    height: 100%
    z-index: -1
    video
      width: 100%
      height: 100%
      opacity: 1
      object-fit: cover
      pointer-events: none
      filter: blur(3px) brightness(0.6)

  .hero-content
    position: relative
    width: 100%
    height: 100%
    display: flex
    flex-direction: column 
    justify-content: center // CENTRA verticalmente en el viewport
    align-items: flex-start // mantiene alineado a la IZQUIERDA
    padding-left: 4rem      // distancia desde el borde izquierdo (ajusta a tu gusto)
    padding-right: 2rem

    .hero-container
      display: flex
      flex-direction: column
      align-items: flex-start  // Mantener alineación izquierda
      gap: 1.5rem

      .text-hero
        // align-self: flex-start
        max-width: 600px
        // background: $white
        padding: 2rem
        // border-radius: 0 0 15px 15px 
        .title
          font-weight: bold
          color: $white
          animation: slide-in-left 0.6s ease-out forwards
          animation-delay: 0.6s
          &:nth-of-type(2)
            animation-delay: 0.8s
        @keyframes slide-in-left
          0%
            opacity: 0
            transform: translateX(-30px)
          100%
            opacity: 1
            transform: translateX(0) 
        .subtitle
          font-weight: 500
          color: $white
          margin-top: 0.5rem
        p
          margin-top: 0.8rem
          color: $white
      // Botón abajo a la izquierda
      .button-hero
        padding: 2rem
        border-radius: 25px
        display: flex
        align-items: center
        gap: 0.6rem

        a
          display: flex
          align-items: center
          gap: 0.5rem
          text-decoration: none

        .button-PSE
          border: 2px solid $white
          box-shadow: 0 4px 8px rgba(0,0,0,0.3)
        .logo-pse
          border: 2px solid $white
          border-radius: 50%
          height: 40px
          width: auto

// sección ¿Quiénes somos?
.title-section 
  text-align: center
  margin-bottom: 2rem
  
  h2 
    color: $green-primary

.content-section-1 
  display: grid
  grid-template-columns: 1fr 1fr
  gap: 2rem
  width: 100%
  max-width: 1200px
  align-content: center
  
.text-content-1
  p
    line-height: 1.6
    margin-bottom: 1rem

  .highlights
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
    gap: 1.5rem
    margin: 2rem 0

    .highlight
      text-align: center
      align-items: center
      padding: 1.5rem
      border: 2px solid $green-primary
      border-radius: 1rem
      background: #DAFFDB
      box-shadow: 0 6px 10px rgba(49, 49, 49, 0.1)
      transition: transform .3s ease
      &:hover
        transform: translateY(-5px)

      img
        width: 50px
        height: 50px
        margin-bottom: .5rem

      h4
        color: $green-primary
        font-size: 1.25rem
        margin-bottom: .25rem

      p
        color: $black

  .sena-partnership
    display: flex
    align-items: center
    gap: 1rem
    margin-top: 2rem
    border-left: 4px solid $green-primary
    padding-left: 1rem

    img
      width: 60px
      height: 60px
      object-fit: contain

    .text
      h4
        margin: 0
        color: $green-primary
        font-size: 1.1rem
      p
        margin: 0
        color: $black


.image-content
  .image-grid
    display: grid
    grid-template-areas: "large large" "small small2"
    grid-template-columns: 1fr 1fr
    gap: 1rem
    position: relative

    .image-box
      border-radius: .5rem
      overflow: hidden
      display: flex
      align-items: center
      justify-content: center

      &.large
        grid-area: large
        height: 200px
        border: 2px solid $green-primary
        background-color: $black
        
      &.small
        background-color: $black
        border: 3px solid $green-primary
        height: 200px
        iframe
          width: 100%
          height: 100%
          object-fit: cover

      img
        width: 100%
        height: 100%
        object-fit: cover
        display: block

    .logo-circle
      width: 100px
      height: 100px
      border-radius: 50%
      overflow: hidden
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      border: 5px solid $white
      background: $white
      display: flex
      align-items: center
      justify-content: center
      z-index: 2
      img
        width: 70px
        height: 70px
        object-fit: contain
        display: block

// === Estado inicial (oculto) ===
.scroll-hidden
  opacity: 0
  visibility: hidden
  transform: translateY(30px)
  transition: all 0.8s ease-out

// === Activo (cuando entra en scroll) ===
.scroll-visible
  opacity: 1
  visibility: visible
  transform: translateY(0)

// Sección galería
.section-galeria
  padding: 3rem 1rem
  background-size: cover
  background-position: center
  color: $white

  .container-galeria
    display: flex
    justify-content: center
    align-items: stretch
    max-width: 1200px
    margin: 0 auto
    gap: 2rem

    // Responsive
    @media (max-width: 768px)
      flex-direction: column
      align-items: center
      gap: 2rem

      // carrusel arriba, juegos abajo
      .carousel-container
        order: 1
        width: 100%
      .juegos
        order: 2
        width: 100%

    .title-section
      margin-bottom: 2rem
      text-align: center

    // Carrusel de eventos
    .carousel-container
      position: relative
      overflow: hidden
      border-radius: 16px

      .carousel-track
        display: flex
        flex: 1
        max-width: 600px
        position: relative
        transition: transform 0.6s ease-in-out
        will-change: transform

      .carousel-slide
        flex: 0 0 100%   // cada slide ocupa 100% del ancho del track
        display: flex   
        height: 100%  // permite alinear contenido interno (texto, imágenes, botones)
        flex-direction: column
        justify-content: center
        align-items: center
        position: relative
        opacity: 0
        transition: opacity 0.5s ease-in-out, transform 0.6s ease-in-out

        &.active
          opacity: 1

        img
          width: 100%
          height: 100%
          object-fit: contain // No recorta la imagen
          object-position: center
          border-radius: 25px
          display: block

      .carousel-button
        position: absolute
        top: 50%
        transform: translateY(-50%)
        background: transparent
        color: $green-forest
        border: none
        padding: 0.4rem
        cursor: pointer
        border-radius: 50%
        z-index: 20
        user-select: none
        transition: background 0.3s ease
        font-size: 1.8rem

        &:hover
          color: $green-primary

        &.prev
          left: 0
        &.next
          right: 0
        
        @media (max-width: 468px)
          font-size: 1.6rem
        

    

    // Lista de juegos
    .juegos
      flex: 1
      display: flex
      flex-direction: column
      justify-content: space-between
      gap: 0.7rem
      height: 100%
      
      .juego-card
        display: flex
        align-items: center
        gap: 1rem
        padding: 1rem
        border-radius: 12px
        transition: transform 0.2s ease, box-shadow 0.2s ease
        animation: gradient-angle 4s linear infinite
        border: 2px solid transparent
        background-image: linear-gradient(#2d5a2e, #1c321f), conic-gradient(from var(--gradient-angle),
          #2d5a2e 0%,
          #008001 37%,
          #a3d985 40%,
          #008001 43%,
          #2d5a2e 50%,
          #2d5a2e 70%,
          #008001 77%,
          #a3d985 80%,
          #008001 83%,
          #2d5a2e 90%
        )
        background-origin: padding-box, border-box
        background-clip: padding-box, border-box
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4)
        &:hover
          transform: translateY(-4px)
          box-shadow: 0 6px 12px rgba(0,0,0,0.4)
        img
          width: 75px
          height: 75px
          object-fit: cover
          border-radius: 10px
          
        .juego-info

          h3
            margin: 0 0 0.3rem 0
          a
            color: $green-light
            text-decoration: none
            font-size: 0.95rem
      // Animación para la rotación del gradiente
      @keyframes gradient-angle
        to
          --gradient-angle: 1turn
// Sección Circulares
.section-circulares
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  padding: 4rem 2rem
  
  // Contenedor tipo libreta abierta
  .circulares-container
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 2rem
    max-width: 1200px
    width: 100%
    background: $green-forest
    border-radius: 10px
    border: 1px solid $gray
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.205)
    position: relative
    padding: 2rem

    // Simular el espiral de libreta
    &::before
      content: ""
      position: absolute
      top: 0
      bottom: 0
      left: 50%
      width: 20px
      border-radius: 10px
      background: repeating-linear-gradient(
        to bottom,
        #ffffff,
        #ffffff 4px,
        transparent 4px,
        transparent 12px
      )
      border-radius: 10px
      transform: translateX(-50%)
    .circular-left, .circular-right
      display: flex
      align-items: center
      justify-content: center
      align-content: center
      background-image: url('https://img.freepik.com/foto-gratis/superficie-tablas-blancas_23-2147625787.jpg?w=360')
      align-content: center
      background-size: cover
      background-position: center
      background-repeat: no-repeat
      padding: 1rem
      margin: 0 1rem
      position: relative
      border-radius: 8px
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15)
      // Efecto de hojas apiladas
      &::before,
      &::after
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: #fff
        border-radius: 8px
        z-index: -1
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1)
      &::before
        transform: translate(6px, 6px)
        opacity: 0.8

      &::after
        transform: translate(12px, 12px)
        opacity: 0.6
      img
        width: 100%
        height: auto
        
  
    .circular-right
      display: flex
      flex-direction: column
      align-items: flex-start
      justify-content: flex-start
      text-align: left

      h3
        color: $green-primary
        margin-bottom: .5rem

      img
        width: 100%
        max-height: 200px
        object-fit: cover
        border-radius: 6px
        margin-bottom: 1rem

      p
        color: $black
        line-height: 1.6


// Animación para transición suave
@keyframes fade
  from
    opacity: 0.4
  to
    opacity: 1


@media (max-width: 768px)
  .hero
    padding: 1.5rem
    .hero-content
      padding-left: 1.5rem
      padding-right: 1.5rem
      align-items: center     // centrar horizontalmente en móviles
      justify-content: center
      text-align: left
      .hero-container
        .text-hero
          max-width: 100%

  .content-section-1
    grid-template-columns: 1fr
    text-align: center
    
    // Asegura que el texto quede arriba
    .text-section-1
      order: -1

    // Imágenes abajo
    .img-section-1
      order: 2
      margin-top: 1.5rem

  // Responsive Circulares
  .section-circulares .circulares-container
    grid-template-columns: 1fr
    &::before
      display: none 
    .circular-left
      img
        width: 100%