.scroll-buttons {
  display: flex;
  position: fixed;
  top: 4.5rem;
  left: 2.8rem;
  gap: 0.5rem;
  z-index: 1000;
}

.scroll-buttons .btn-scroll {
  background-color: #008001;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.scroll-buttons .btn-scroll:hover {
  background-color: #004d01;
}

@media (max-width: 768px) {
  .scroll-buttons .btn-scroll {
    padding: 0.3rem 0.7rem;
    font-size: 0.8rem;
  }
}
