// Variables globales/ Colores
$green-dark: #1c321f
$green-forest: #2d5a2e
$green-primary: #008001
$green-light: #a3d985
$yellow-dark: #E2B204
$yellow-light: #FFC800
$yellow-folder: #FFC800
$yellow-pastel: #FFDF87FF
$folder-shadow: rgba(0, 0, 0, 0.2)
$folder-border-radius: 8px
$white: #FFFFFF
$gray: #D9D9D9
$black: #000000

.scroll-buttons
    display: flex
    position: fixed
    top: 4.5rem
    left: 2.8rem
    gap: 0.5rem
    z-index: 1000

    .btn-scroll
        background-color: $green-primary
        color: #fff
        padding: 0.5rem 1rem
        border-radius: 50px
        text-decoration: none
        transition: background 0.3s ease

        &:hover
            background-color: darken($green-primary, 10%)
@media (max-width: 768px)
    .scroll-buttons
        .btn-scroll
            padding: 0.3rem 0.7rem
            font-size: 0.8rem
// Nosotros
.section-quienes
    display: flex
    flex-direction: column  
    width: 100%
    max-width: 1200px
    margin: 0 auto
    overflow: hidden
    margin-top: 80px
    
    .content-section-1
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 2rem
        width: 100%
        max-width: 1200px
        margin: 0 auto
        align-items: stretch

    // Contenedor de imágenes
    .image-content
    .image-grid
        display: flex
        justify-content: center
        align-items: center
        .image-box
            border-radius: .5rem
            overflow: hidden
            max-width: 400px
            width: 100%
            img
                width: 100%
                height: auto
                object-fit: cover
                display: block
                box-shadow: 0 10px 10px rgba(0, 0, 0, 0.521)
        p
            text-align: center
            margin-top: 0.5rem
            color: $black
            font-weight: bold
                

    // Contenedor de texto con scroll
    .text-content
        background: rgba(0, 100, 0, 0.05) // fondo suave
        border-left: 4px solid $green-primary
        text-align: center
        align-items: center
        padding: 1.5rem
        border-radius: .5rem
        overflow-y: auto
        max-height: 400px
        box-shadow: 0 4px 10px rgba(0,0,0,0.1)

        h3
            text-align: left
            align-items: center
            margin-bottom: 1rem
            color: $green-primary

        p
            margin-bottom: 1.5rem
            line-height: 1.6
            color: $black
            text-align: justify

        img
            width: 250px
            height: auto
            border-radius: 15px 15px 15px 0
            box-shadow: 0 4px 8px rgba(0,0,0,0.1)
    .zoomable
        cursor: pointer
        transition: transform 0.2s
        &:hover
            transform: scale(1.05)
    .image-modal
        display: flex
        position: fixed
        z-index: 9999
        left: 0
        top: 0
        width: 100%
        height: 100%
        background-color: rgba(0,0,0,0.8)
        justify-content: center
        align-items: center

        .modal-content
            max-width: 90%
            max-height: 90%
            border-radius: 10px
            box-shadow: 0 4px 20px rgba(0,0,0,0.5)

        .close
            position: absolute
            top: 20px
            right: 30px
            color: white
            font-size: 40px
            font-weight: bold
            cursor: pointer

    // --- Responsive dentro de la sección ---
    @media (max-width: 768px)
        .content-section-1
            grid-template-columns: 1fr
            grid-template-rows: auto auto
            gap: 1.5rem

        .image-grid
            grid-template-columns: 1fr
            grid-template-areas: "small1" "small2" "large"

            .image-box
                height: auto

        .text-content
            max-height: 300px
            padding: 1rem
            font-size: 0.95rem      
// Visión Misión	
.mission-vision-section
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    gap: 4rem
    padding: 2rem
    width: 100%
    min-height: 100vh
    overflow: hidden

    .folder
        background-color: $yellow-pastel
        border-radius: $folder-border-radius
        box-shadow: 0 4px 12px rgba(0,0,0,0.2)
        width: 550px
        max-width: 1000px 
        height: 100%           // Ocupa la altura del contenedor
        overflow: hidden
        transition: transform 0.2s ease, box-shadow 0.2s ease

        &:hover
            transform: translateY(-5px)
            box-shadow: 0 6px 16px rgba(0,0,0,0.25)

        .folder-header
            background-color: $white
            color: $green-primary
            text-align: left
            width: 45%
            border-radius: 0 0  15px 0
            padding: 1rem
            font-weight: bold
            border-bottom: 2px solid lighten($yellow-folder, 10%)
        .folder-content
            text-align: center
            margin: 1rem
            line-height: 1.5
// Emblemas
.parent
    display: flex
    flex-direction: column  
    gap: 1.5rem
    width: 100%
    max-width: 1200px
    margin: 0 auto
    overflow: hidden
    .row
        display: flex
        gap: 1.5rem
        > div
            flex: 1   // que cada hijo ocupe el mismo espacio
            min-width: 0 // evita desbordes
    .div1, .div2, .div3, .div4
        flex: 1 1 calc(50% - 1.5rem)
        background-color: #DAFFDB
        border: 2px solid $green-primary
        border-radius: 15px
        padding: 2rem
        min-width: 280px
        box-sizing: border-box
    // -------- HIMNO --------
    .div1
        flex: 1 1 100%
        text-align: center

        .himno
            text-align: center
            line-height: 1.6
        .audio-player
            display: flex
            align-items: center
            gap: 1.5rem
            padding: 15px
            border-radius: 12px
            border: 3px solid $green-primary
            box-shadow: 0 4px 10px rgba(0,0,0,0.1)
            margin-top: 1rem
            color: white

            // Gradiente animado
            background: linear-gradient(270deg, rgba(42,123,155,1) 0%, rgba(87,199,133,1) 50%, rgba(237,221,83,1) 100%);
            background-size: 600% 600%;   // aumenta tamaño para que se note el movimiento
            animation: gradientMove 15s ease infinite;
        
            .disc
                width: 79px
                height: 79px
                border-radius: 50%
                overflow: hidden
                border: 2px solid #fff
                flex-shrink: 0
                img
                    width: 100%
                    height: 100%
                    object-fit: cover
                    border-radius: 50%
                    box-shadow: 0 4px 10px rgba(0,0,0,0.1)

                &.spin img
                    animation: spin 4s linear infinite
            @keyframes spin
                from
                    transform: rotate(0deg)
                to
                    transform: rotate(360deg)
            .controls
                display: flex
                align-items: center
                flex: 1
                gap: 10px
                button
                    display: flex
                    justify-content: center
                    align-items: center
                    background: $green-forest
                    border: none
                    color: white
                    font-size: 18px
                    width: 40px
                    height: 40px
                    padding: 0
                    border-radius: 50%
                    cursor: pointer
                    transition: background 0.3s
                    &:hover
                        background: $green-dark
                svg
                    width: 20px
                    height: 20px
                    display: block

                input[type="range"]
                    flex: 1
                    appearance: none
                    height: 4px
                    border-radius: 4px
                    background: white
                    cursor: pointer

                span
                    min-width: 50px
                    text-align: right
                    font-size: 14px
            // Responsive: en móviles, todo en columna
            @media (max-width: 600px)
                flex-direction: column
                text-align: center

                .disc
                    margin-bottom: 1rem

                .controls
                    flex-direction: column
                    width: 100%
                    gap: .5rem

                    input[type="range"]
                        width: 100%
        .himno-datos
            text-align: left
        @keyframes gradientMove
            0%
                background-position: 0% 50%
            50%
                background-position: 100% 50%
            100%
                background-position: 0% 50%
    // -------- ESCUDO --------
    .div2 .escudo-content
        display: flex
        flex-wrap: wrap
        gap: 1.5rem
        align-items: flex-start
        justify-content: center
        
        img
            width: 250px
            height: auto
            flex-shrink: 0
            filter: drop-shadow(0 1px 20px rgba(0, 0, 0, 0.452))
            transition: transform 0.2s ease, box-shadow 0.2s ease
            &:hover
                transform: translateY(-5px)
        p 
            text-align: justify
            line-height: 1.6
            margin: 0

    // -------- BANDERA --------
    .div3, .div4
        display: flex
        justify-content: center
        align-items: center
        gap: 4rem
        flex-wrap: wrap
        img
            width: 250px
            height: auto
            transition: transform 0.2s ease, box-shadow 0.2s ease
            &:hover
                transform: translateY(-5px)

    .div4
        background-color: $yellow-pastel
        border: 2px solid $yellow-dark
        
    // Responsive tablet
    @media (max-width: 1024px)
        .div1
            flex: 1 1 100%
        .div2, .div3, .div4
            flex: 1 1 calc(50% - 1.5rem)
    @media (max-width: 768px)
        .row
            flex-direction: column

    // Responsive móvil
    @media (max-width: 600px)
        .div1, .div2, .div3, .div4
            flex: 1 1 100%
            padding: 1.5rem
        img
            max-width: 100%
            height: auto

@media (max-width: 768px)
    .title-section
      display: flex
      alingn-items: center
      justify-content: center
      text-align: center
      gap: 1rem
      margin: 20px
    

